doctype html
html
    head
        title Teledraw Admin
    body
        form(action = "/admin_get_game_data", method="post")
            div
                label(for="game_name_submission")Game Name
                input(type="text", id="game_name_submission", name="game_name")
            div(class="button")
                button(type="submit")
