<!DOCTYPE html>
<html>
    <head>
        <title>
           Game: <%= game_name %>, Player: <%= player_name %>
        </title>
    </head>
    <body>
        <h1>You are in game: "<%= game_name %>" as player "<%= player_name %>"</h1>
        <p>
	    ...and you're done! You've submitted as many things as you're
	    supposed to in this game. Now just sit around, twiddle your
	    thumbs, and wait for an admin to start the big reveal!
	</p>
    </body>
</html>
