doctype html
html
    head
        title 
            | Game:
            = " " + game_name + ", " + player_name
    body
        h1 
            | You are in game: 
            = " " + game_name + ", " + player_name
        p.
            ...and you're done! You've submitted as many things as you're
            supposed to in this game. Now just sit around, twiddle your
            thumbs, and wait for an admin to start the big reveal!

