doctype html
html
    head
        title WAIT! Till I come back to your side!
    body
        h1 You're too fast!
        p
            | Player: 
            = " " + prev_player_name + " "
            | hasn't submitted yet. Please refresh this page to see if they have.

