<!DOCTYPE html>
<html>
    <body>
    	<h1>You're too fast!</h1>
        <p>
	    Player: "<%= prev_player_name %>" hasn't submitted yet. Please
	    refresh this page to see if they have.
        </p>
    </body>
</html>
