doctype html
html
    head
        title
            | Game:
            = " " + game_name + ", Player: " + player_name
    body
        h1
            | You are in game:
            = " " + game_name + " as player " + player_name
        form(action="/my_submission_form_page", method="post")
            input(type="hidden", name="chainName", value=chainName)
            div
                -if(clue.match(/\.jpg\b|\.png\b/))
                    img(src=clue, alt="clue", width="800")
                -else
                    p=clue
            div
                label(for="submission")
                input(type="text", id="submission", name="user_submission")
            div(class="button")
                button(type="submit") Submit
