doctype html
html
    head
        title Teledraw!
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
        script(src="/socket.io/socket.io.js")
        script(src="clientJs/script.js")
    body
        div#loginStuff
            div#loginMessage
                p Please Log In!
            div#loginInputContainer
                label(for="loginInput") Name:
                input(type="text")#loginInput
            div#loginButtonContainer
                button#loginButton Log In
        div#gameListStuff(style="display: none;")
            ol#gameList
            p#noGamesNote No games currently going. Feel free to make your own!
            h1 Join a game:
            div#gameInfo
                div#gameNameContainer
                    label(for="gameNameInput") Game Name:
                    input(type="text")#gameNameInput
                div#createGameButton.button
                    button#createGameBtn Create Game

        div#lobbyStuff(style="display: none;")
            div#startGameButtonContainer.button
            p#lobbyPlayerListHeading
            div#playerListContainer
                ul#playerList

        div#gameplayStuff(style="display: none;")
            div#mainEntryContainer
                label(for="mainEntry") Entry:
                input(type="text")#mainEntry
                button#submitBtn Submit
            div#clueContainer

        div#revealStuff(style="display: none;")
            button#advanceRevealBtn Next Entry
            div#previousItem
            div#currentItem
            p#endMessage(style="display: none;") That's all, folks!

