<!DOCTYPE html>

<html>
    <head>
        <title>Welcome to GAME_NAME_HERE</title>
    </head>
    <body>
        <p>
            You have joined game __gamename__. Please wait for the host to start the game
        </p>
    </body>
</html>

